body{
    background-color: rgb(206, 113, 7);
}


/* add code here to make your image 300px square */
img {
    height: 300px;
    width: 300px;
    float: right;
}
/* add code here to change the color and font family of your name/title */
h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: bisque;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
/* Bonus: change the color of your list elements */
li{
    color: bisque;
}